---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Random Cat Image">
	<main class="h-screen w-screen bg-amber-100 flex flex-col items-center justify-between">
		<div class="flex-grow flex items-center justify-center">
			<img
				id="catImage"
				src="https://cataas.com/cat" 
				alt="Random cat" 
				class="w-full max-w-xs sm:max-w-md lg:max-w-lg h-auto max-h-[75vh] shadow-3xl rounded-lg" 
			/>
		</div>
		
		<button 
			class="px-4 py-2 bg-white text-gray-800 rounded-lg shadow-lg hover:bg-gray-100 focus:outline-none mb-12"
		>
			Show Me Another Cat! 🐱
		</button>
	</main>
</Layout>

<script>
	// Get button and add event listener
	const button = document.querySelector('button') as HTMLButtonElement;
	button.addEventListener('click', reloadImage);

	function reloadImage() {
		const catImage = document.getElementById('catImage') as HTMLImageElement;
		// Change the image URL to reload it
		catImage.src = `https://cataas.com/cat?t=${new Date().getTime()}`;
	}
</script>
