---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Random Cat Image">
	<main class="h-screen w-screen bg-amber-100 flex items-center justify-center">
		<img src="https://cataas.com/cat" 
			 alt="Random cat" 
			 class="w-full max-w-xs sm:max-w-md lg:max-w-lg h-auto max-h-[75vh] shadow-2xl rounded-lg" />
	</main>
</Layout>